html {
    margin: 0;
    padding: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(https://media.swncdn.com/cms/CW/faith/37384-fire-burning-pexels.1200w.tn.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
    padding-top: 10px;
  }

  .story{
    margin-top: 80px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
  }

  .story h2{
      color: darkblue;
  }

  .jumbotron{
      background-color: transparent;
      margin-top: 80px;
      margin-left: 30%;
      margin-right: 30%;
      text-align: center;
  }

  .jumbotron a{
    color: white;
  }
  
  h1 {
    
    text-align: center;
    color: white;

  }
  
  h2 {
    text-align: center;
    color: white;;
    margin-bottom: 40px;
  }
  
  p {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
  button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
  }

  .Instructions {
    color: white;
    text-align: center;
  }
  .Instructions h3{
    color: white;
    text-align: start;
  }

  .Instructions p{
    color: white;
    text-align: center;
    font-style: bold;
  }
  