<link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">

<body>
  <h1>The Devil's Apprentice</h1>
  <div class ="Instructions">
      <!-- <h3>Instructions:</h3> -->
      <p>Welcome to Hell!</p>
      <h4>- To win this game you need to beat the Devil's apprentice, Reynard.</h4>
      <h4>- He is known for deceiving others for his own advantage.</h4>
      <h4>- To win the game, you must beat Reynard in his dice challenge.</h4>
      <h4>- In each turn, the you can roll dice as many times as you wish</h4>
      <h4>- Each result of the dice will get added to your CURRENT SCORE. </h4>
      <h4>- BUT, if you roll a 1,the CURRENT SCORE is lost. After that, it's Reynard's turn</h4>
      <h4>- You can choose to 'Hold', which means that your CURRENT score gets added to your TOTAL score.</h4>
      <h4>- The only way to win the game is to reach 100 points before Reynard!!</h4>
  </div>
  <div class="story">

  </div>
  <div class="jumbotron">
    <h2>Select One</h2>
    
      <a routerLink="/storyMode">STORY MODE</a>
      <br>
      <a routerLink="/vsMode">VS MODE</a>
    
  </div>
  <br>
</body>